html, body {
    margin: 0px;
    background-color: #5b6363;
    color: white;
}

.titulo {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
    font-size: 25px;
}

.pelicula {
    position: relative;
    width: 200px;
    left: 65px;
}

.elemento {
    position: relative;
    background-color: black;
    width: 210px;
    height: 310px;
    left: 100px;
    margin-left: -35px;
    float:left;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: azure;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}

.recurso {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain; 
    display: block;
}


#elementos-pelicula, #pelicula-caratula {
    height: 320px;
}

.slot-personaje {
    width: 200px;
    height: 310px;
    border: 2px dashed #aaa;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f9fa;
    margin: 0 10px;
}